aiofiles==25.1.0
aiogram==3.24.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-types==0.7.0
asgiref==3.11.0
attrs==25.4.0
blinker==1.9.0
certifi==2026.1.4
click==8.3.1
colorama==0.4.6
Django==6.0
django-unfold==0.78.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
Flask==3.1.2
frozenlist==1.8.0
greenlet==3.3.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
magic-filter==1.0.12
MarkupSafe==3.0.3
multidict==6.7.1
numpy==2.3.5
propcache==0.4.1
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.11.0
pyscard==2.3.1
python-dotenv==1.2.1
scikit-learn==1.8.0
scipy==1.16.3
SQLAlchemy==2.0.46
sqlparse==0.5.4
tabulate==0.9.0
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
Werkzeug==3.1.4
yarl==1.22.0
yt-dlp==2026.1.31
